{
  "presets": [[
    "@babel/env",
    {
      "corejs": 3,
      "useBuiltIns": "usage",
      "debug": true,
      "modules": false
    }]],
  "plugins":[
    "@babel/plugin-proposal-class-properties"
  ]
}
